@font-face { font-family: MainFont; src: url("./Resources/Font.ttf"); } 

*{
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    font-family:MainFont;
}

@font-face { font-family: SecondaryFont; src: url("../../Resources/Monserrat.ttf"); } 
html {
  background: linear-gradient(225deg, #3a0000, #1a0000);
  background-size: 400% 400%;
  
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}
@-webkit-keyframes AnimationName {
  0%{background-position:0% 52%}
  50%{background-position:100% 49%}
  100%{background-position:0% 52%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 52%}
  50%{background-position:100% 49%}
  100%{background-position:0% 52%}
}
@keyframes AnimationName {
  0%{background-position:0% 52%}
  50%{background-position:100% 49%}
  100%{background-position:0% 52%}
}
#particles {
  position: fixed;
  width: 98%;
  height: 98%;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  z-index: -100;
}

#particles > * {
  overflow: hidden;
  z-index: -100;
}


.main{
  margin: 0px 10vw;
  width: 80vw;
  height: 100%;
  padding: 20px 0px 7vw 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: rgba(146, 25, 25, 0.5);
  border-radius: 20px;
  
  
}
.patiayak{
  width: 25vw;
  height:25vw;


  border-radius: 20%;
  

}
.pati{
  display: flex;
  flex-direction: row;
  margin-top: 2vw;
}
.h1{
  color: #ff11116c;
  display: flex;
  justify-content:center;
  font-family: MainFont ;
  text-align: center;
  font-size: 3vw;
  text-shadow: 2px 2px #ff5757;
}

.h12{
  text-align: center;
  font-family: SecondaryFont;
  font-size:15pt;
  color: #fd6969de;
}
.yazı{

  margin: 2vw 10vw;


}

.image-container{
  width: 100%;
  display: flex;
  margin-left: 5vw;
  align-items: center;
  justify-content: start;
}

.ReturnHomeBtn{
  position:fixed;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;

  background-color: rgba(0, 0, 0, 0.5);

  border-radius: 100%;

  border: none;
  transition: 500ms;
}

.ReturnHomeBtn > img{
  position: absolute;
  top: 25%;
  left: 25%;
}

.ReturnHomeBtn:hover{
  background-color: rgba(0, 0, 0, 0.75);
}


@media (min-width:320px) and (max-width:1000px){
  .pati{
    flex-direction: column;

  }
  .h12{
    font-size: 10pt;
  }

  .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }
  .patiayak{
    width: auto;
    height: 30vh;
  }
  .h1{
    font-size: 25pt;
  }
}

