body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Lato;
    background-color:rgb(35, 27, 89);
    color:rgb(8, 117, 81);
    background: linear-gradient(310deg, rgb(0, 0, 30) , rgb(24, 24, 63) , rgb(77, 7, 67));
    animation: gradient 3s ease infinite;
    background-size: 300% 300%;
    background-attachment: fixed;
}
@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.logo{
    margin:15px;
    margin-top: 50px;
    background-color: rgba(74, 72, 113, 0.441);
    display: flex;
    flex-direction: row;
    width: 90vw;
    border-radius: 10px;
    border: 1.5px dotted ;
    border-color: rgb(215, 250, 244);
    align-items: center;
    
    
}
#Logo{
    width: 18vw;
    margin:14px 14px;
    margin-left: 9vw;
    
    border-radius:50%;
    background-color: rgba(13, 13, 14, 0.655);
    transition: all 0.4s;
}
#Logo:hover{
    width: 22vw;

}
.click{
    display: flex;
    flex-direction:row;
    background-color: rgba(74, 74, 113, 0.441);
    width: 90vw;
    justify-content: space-evenly;
    border-radius: 10px;
    border: 1px dotted;
    border-color: azure
    
    ;

}
#BtnContainer{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-bottom: 10vh;

    
}
#BtnContainer2{
    display: flex;
    margin-top: 5vh;
    margin-bottom: 10vh;
    flex-direction: column;
    
}
.btn{
    margin:20px;
    width:32vw;
    height: 10vh;
    font-size: 22px;
    border-radius:7px ;
    background:line;
    border: none;
    color: beige;
    background-image: linear-gradient(115deg, rgb(144, 2, 103) 30%, rgb(193, 41, 89) 60%, rgb(38, 0, 255) 120%);
    background-size: 200% 100%;
    transition: background-position 0.4s ease-in-out;
    transition: all 0.6s;
    }
    .btn:hover{
        background-position: right;
        width: 33vw;
        height: 11vh;
    }
    .hi{
        color: rgb(255, 218, 169);
        font-size: 2rem;
        margin-left: 3vw;

    }
    span{
        font-size: 32px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgba(34, 247, 244, 0.804);
        
    }
    .insta2{
        text-decoration: none;
        color: rgb(251, 220, 180);
    }
