@font-face { font-family: MainFont; src: url("./Resources/Font.ttf"); } 

*{
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    overflow: hidden;

    font-family:MainFont;
}

html {
  background: linear-gradient(225deg, #3a0000, #1a0000);
  background-size: 400% 400%;
  
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@keyframes AnimationName {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}


#LogoContainer{
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
}

#Logo{
  transform: scale(1);
  animation: scale-up 6s ease-in-out infinite;
}

@keyframes scale-up {
  0% { transform: scale(1); }
  50% { transform: scale(1.4); }
  100% { transform: scale(1); }
}

.btn{
  display: inline-block;
  padding: 10px 20px;
  margin: 0 20px;

  width: 200px;
  height: 50px;

  border: none;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 200%;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-family: MainFont;

  background-image: linear-gradient(45deg, #f00 40%, #a00 60%);
  background-size: 200% 100%;
  transition: background-position 0.4s ease-in-out;
    
}
.btn:hover{
  background-position: right;
}

#particles {
  position: fixed;
  width: 98%;
  height: 98%;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}

#particles > * {
  overflow: hidden;
}