@font-face { font-family: MainFont; src: url("../../Resources/ProtestStrike-Regular.ttf"); } 

*{
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    font-family:MainFont;
}

html {
  background: linear-gradient(225deg, #3a0000, #1a0000);
  background-size: 400% 400%;
  
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  overflow-x: hidden;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@keyframes AnimationName {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}


#LogoContainer{
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
}

#Logo{
  transform: scale(1);
  animation: scale-up 6s ease-in-out infinite;
}
#Logo:hover{
  cursor: pointer;
}

@keyframes scale-up {
  0% { transform: scale(1); }
  50% { transform: scale(1.4); }
  100% { transform: scale(1); }
}


#Container{
  margin: 50px 10vw;
  width: 80vw;
  height: auto;
  padding: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;


  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.card{
  margin: 25px;
  width: 200px;
  height: 300px;

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  font-size: 200%;
  transition: 0.3s;
}
.card>img{
  margin: 0;
  width: 100%;
  height: 66%;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card>div{
  margin: 0;
  width: 100%;
  height: calc(33% - 30px);

  padding-top: 30px;

  background-color: #fff;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  text-align: center;
}

.card:hover{
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.5);
  width: 210px;
  height: 315px;
  font-size: 250%;
}

#particles {
  position: fixed;
  width: 98%;
  height: 98%;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  z-index: -100;
}

#particles > * {
  overflow: hidden;
  z-index: -100;
}

.ReturnHomeBtn{
  position:fixed;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;

  background-color: rgba(0, 0, 0, 0.5);

  border-radius: 100%;

  border: none;
  transition: 500ms;
}

.ReturnHomeBtn > img{
  position: absolute;
  top: 25%;
  left: 25%;
}

.ReturnHomeBtn:hover{
  background-color: rgba(0, 0, 0, 0.75);
}


@media (min-width:320px) and (max-width:1000px){
  .card{
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  #LogoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vw;
}
  #Logo{
    width: 70vw;
    height: 70vw;
  }

}